.w3-bar.w3-border.w3-light-grey.w3-center
  .w3-bar-item.w3-button.w3-mobile= link_to 'home', pages_home_path, style: 'width:50%'
  .w3-bar-item.w3-button.w3-mobile= link_to 'about', pages_about_path, style: 'width:12.5%'
  .w3-bar-item.w3-button.w3-mobile= link_to 'contact', pages_contact_path, style: 'width:12.5%'
  .w3-bar-item.w3-button.w3-mobile= link_to 'articles', articles_path, style: 'width:12.5%'
